<main class="home-page">
    <section class="hero" style="background-image: url('cover.jpeg');" data-track-location="Header">
        <div class="home-container">
            <!-- Link to products page with button -->
            <a href="<%= products_list_path %>" class="btn btn-danger btn-lg">Hundreds of products</a>
            <!-- Main heading -->
            <h1 class="hero__heading">Serving Wagging Tails and Happy Hearts</h1>
            <!-- Subheading -->
            <div class="home-type-body-large font-weight-500">Your One-Stop Doggy Dreams Destination!</div>
        </div>
        <!-- Hero marquee section -->
        <div class="hero-marquee" style="--card-count: 24;">
            <!-- Button group for Categories-->
            <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <% @categories.each do |category| %>
            <%= link_to category.name, products_path(category_id: category.id), class: "btn btn-outline-primary" %>
            <% end %>
            </div>
        </div>
    </section>

<style>
    .hero {
        background-image: url('<%= asset_path('cover.jpeg') %>');
        background-size: cover; /* Adjust the background size */
        background-position: center; /* Adjust the background position */
    }
</style>

