<div class="card text-bg-primary mb-3">
  <div class="card text-center">
    <div class="card-body">
      <h1 class="card-title">About us</h1>
      <p class="card-text"><%= @about_page.content %></p>
    </div>
  </div>
</div>
