<% if @category %>
  <h2>Category: <%= @category.name %></h2>
<% end %>

<div class="container mt-4">
  <% unless params[:search].present? || params[:category].present? %>
  <%= paginate @products %>
  <% end %>
</div>
  <main class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @products.each do |product| %>
        <%= render partial: 'products/product', locals: { product: product } %>
      <% end %>
    </div>
  </main>
</div>
